# ===============================
# Python
# ===============================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
dist/
build/
.eggs/

# ===============================
# Virtual Environments
# ===============================
venv/
env/
.venv/
ENV/
.python-version

# ===============================
# Firebase Credentials
# ===============================
firebase/serviceAccountKey.json


# ===============================
# Environment Variables & Secrets
# ===============================
.env
.env.*
*.key
*.pem
secrets/
credentials/

# ===============================
# Logs & Runtime Files
# ===============================
*.log
logs/
*.pid


.cache/
.pytest_cache/
.coverage
htmlcov/
.tox/

# ===============================
# IDEs & Editors
# ===============================
.vscode/
.idea/
*.iml



Thumbs.db
desktop.ini

# ===============================
# Git
# ===============================
.gitignore~
